{% extends "base_app.html" %}

{% block title %}JustData - NCRC Data Analysis Platform{% endblock %}
{% block extra_head %}
<meta name="description" content="JustData - NCRC Data Analysis Platform">
<meta name="theme-color" content="#034EA0">
{% endblock %}

{% block content %}
<div style="text-align: center; padding: var(--s-12) 0;">
    <img src="{{ url_for('static', filename='img/ncrc-logo.png') }}" alt="NCRC - National Community Reinvestment Coalition" style="max-width: 400px; width: 100%; height: auto;" onerror="this.src='{{ url_for('static', filename='img/ncrc-invert-final@2x.png') }}';">
</div>
{% endblock %}
