{% extends "base_app.html" %}

{% block title %}Apps - JustData | NCRC Data Analysis Platform{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps.css') }}">
{% endblock %}

{% block main_class %} home-main{% endblock %}

{% block content %}
<div id="appsLauncher">
    {% include "partials/apps_header.html" %}
    {# Same groups, order and states as the nav drawer and landing roster (nav_groups). #}
    {% for group in nav_groups if group.label %}
    {% set group_index = loop.index %}
    {% include "partials/apps_group.html" %}
    {% endfor %}
    {% if any_locked %}{% include "partials/apps_request_access.html" %}{% endif %}
</div>
{% endblock %}
