{% extends "base_app.html" %}

{% block title %}JustData - NCRC Data Analysis Platform{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block main_class %} home-main{% endblock %}

{% block content %}
{% include "partials/home_hero.html" %}
{% include "partials/home_scale_strip.html" %}
{% include "partials/home_questions.html" %}
{% include "partials/home_roster.html" %}
{% include "partials/home_cited.html" %}
{% include "partials/home_how.html" %}
{% include "partials/home_audiences.html" %}
{% include "partials/home_closing.html" %}
{% endblock %}
