<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_lendsight_report_head.html' %}
</head>
<body style="background: var(--ncrc-gray-light);">
    <!-- Report Interstitial Modal - shows while data loads -->
    {% include "report_interstitial.html" %}

    {% include "shared_header.html" %}
    {% include 'partials/_lendsight_report_main.html' %}
    {% include 'partials/_lendsight_report_scripts.html' %}
    
    {% include 'partials/_lendsight_report_scripts_footer.html' %}
    {% include 'shared_header_js.html' %}

    <!-- Shared Footer -->
    {% set app_name = "LendSight" %}
    {% include "shared_footer.html" %}
</body>
</html>
