<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.html' %}
</head>
<body>
    {% include "shared_header.html" %}

    <div class="report-container">
        {% include 'partials/_export_controls.html' %}
        
        {% include 'partials/_status_states.html' %}
        
        {% include 'partials/_report_header.html' %}
        
        <!-- Report Content -->
        <main id="main-content" style="display: none;" role="main">
            
            {% include 'partials/_section_demographics.html' %}
            
            {% include 'partials/_section_lending_summary.html' %}
            
            {% include 'partials/_section_lender_tables.html' %}
            
            {% include 'partials/_section_hhi.html' %}
            
            {% include 'partials/_methodology.html' %}
        </main>
        
        <!-- Shared Footer -->
        {% set app_name = "DataExplorer" %}
        {% include "shared_footer.html" %}
    </div>
    
    {% include 'partials/_scripts.html' %}

    {% include 'partials/_scripts_footer.html' %}
</body>
</html>