<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_lender_report_head.html' %}
</head>
<body>
    {% include "shared_header.html" %}

    {% include 'partials/_lender_report_main.html' %}
    
    {% include 'partials/_lender_report_scripts.html' %}
    
    {% include 'partials/_lender_report_methodology.html' %}
    
    <!-- Shared Footer -->
    {% set app_name = "DataExplorer" %}
    {% include "shared_footer.html" %}
</div>

{% include 'partials/_lender_report_scripts_footer.html' %}
{% include "shared_header_js.html" %}
</body>
</html>

